@charset "utf-8";
.search{
	padding: 0.06rem 0.1rem;
	background: #fff;
}
.ser{
	width: 88%;
	border-radius: 3px;
	text-align: left;
	padding: 0.08rem 2% 0.08rem 10%;
	background: url(../images/o.jpg) no-repeat 7px center #f0f0f0;
	background-size: 6%;
	color: #999;
}
.mt0{
	margin-top: 0!important;
}
#loaded{position: fixed;top: 50%;left: 50%;margin-left: -40px;margin-top: -25px;z-index: 99;/*display: none;*/}
#loaded img{width: 80px;}
.onlie_menu{
	background: #fff;
	position: relative;
	margin-top: 0.05rem;
}

.list{ 
	overflow: hidden;
}
.list li{ 
	width: 20%;
	float: left; 
	text-align: center;
	font-size: 0.12rem; 
	padding-top: 17px; 
	overflow: hidden; 
	background-size: 50px;
	padding-bottom: 0.12rem; 
	background-position: center 0.17rem; 
	background-color: #fff; 
	background-repeat: no-repeat;
}
.list li img{
	width: 45px;
	height: 45px;
	border-radius: 5px;
}
.list a{ 
	color: #333;
}


.goods-list{ 
	margin:0.05rem 0 0.5rem;
}
.goods-list ul{ 
	overflow: hidden; 
	margin-right: 0.05rem;
}
.goods-list li{ 
	float: left; 
	width: 50%; 
	overflow: hidden;
	margin-bottom: 0.04rem; 
}
.goods-list li a{  
	display: block; 
	margin: 0 0 0 0.05rem;
	border: solid 1px #eaeaea;
	padding:0.03rem; 
	background: #fff; 
	color: #333;
}
.goods-list li img{ 
	height:1.3rem; 
	width: 100%;  
	display: block;
}
.goods-list li h2{ 
	font-size: 0.11rem; 
	height:0.3rem; 
	margin: 0.04rem 0; 
	line-height: 0.15rem;  
	overflow: hidden;
}
.goods-list li p{ 
	color: #ff0000; 
	line-height: 0.25rem; 
	height:  0.25rem; 
	overflow: hidden; 
}
.goods-list li span{ 
	font-size:  0.1rem; 
	color: #999;width:55%; 
	line-height: 0.25rem; 
	height:  0.25rem; 
	float: right; 
	text-align: right;
}
.goods-list li em{ 
	font-style: normal; 
	float: left; 
	line-height:  0.25rem; 
	height: 0.25rem;
	width: 45%;
	font-size: 0.12rem; 
}

.goods label{  
	display: block;
	/*  width: 0.25rem;*/  
	text-align: center; 
	line-height: 0.8rem; 
}
.car-list label input[type=checkbox]{  
	-webkit-appearance: none;  
	-moz-appearance: none;  
	appearance: none;  
	width:0.14rem;  
	background: #fff;  
	height: 0.14rem;  
	border-radius: 50%;  
	border :solid 1px #a2a2a2;  
	line-height: 0.14rem;  
	outline: none; 
	vertical-align: middle;  
	margin: 0 0.09rem
}
.car-list label input[type=checkbox]:checked{  
	background: #01b095; 
}
.ttl{
	padding: 0.1rem 0;
	display: inline-block;
	width: 100%;
	background-color: #d9d9d9;
}
.ttl input{
	margin: 0 0.09rem
}
.ttl img{
	margin-right: 0.05rem;
	margin-bottom: -3px;
}

/*详情页样式*/

.b-pic .t-img{ 
width: 100%; 
height: auto;
 /* height: 2.5rem; */ 
}
.b-pic{ 
	position: relative;
	/*font-size: 0;*/
}
.gift{ 
	position: absolute; 
	bottom: 0.06rem; 
	right: 0.06rem;
}
.goback{ 
	display: block;  
	position: absolute; 
	left: 0.1rem; 
	top: 0.1rem;
}
.shopcar{ 
	position: absolute; 
	right: 0.1rem; 
	top: 0.1rem;
}
.detail{ 
	background: #fff; 
	margin-bottom: 0.05rem;
}
.intro{ 
	padding: 0.05rem 0.1rem; 
}
.intro h1{ 
	line-height: 0.2rem; 
	font-size: 0.13rem;
}
.price{ 
	line-height: 0.223rem; 
	color: #f00;
}
.price span{ 
	text-decoration: line-through; 
	color:#999; 
	font-size: 0.12rem; 
	padding-left: 0.07rem;
}
.intro p{ 
	line-height: 0.2rem; 
	font-size: 0.12rem; 
	color: #999;
}
.intro p span{ 
	float: right;
}
.shop_pic{
	position: relative;
	overflow: hidden;
}
.shop_tt{
	position: absolute;
	bottom: 4px;
	left:0;
	width: 100%;
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding-left: 0.1rem;
}
.tit{
	padding: 0.04rem 0.1rem 0.01rem 0.1rem;
}
.tit p span,i{
	color: #e39523;
}
.shop_inf{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding-left: 0.1rem;
}
.shop_inf img{
	margin-right: 0.12rem;
}
.shop_imf h2{
	color: #fff;
}
/*分享到*/
.share1{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}
.share_main{
	background-color: #fff;
	width: 88%;
	margin: 40% auto 0 auto;
	border-radius: 6px;
	padding-bottom: 0.06rem;
}
.share_main li{
	float: left;
	width: 33%;
	text-align: center;
}
.share_main li a{
	display: block;
}
.share_main li a span{
	display: block;
}
.share_main h2{
	padding: 0.12rem;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.22rem;
}
.share_main a.sha{
	display: block;
	width: 60%;
	margin: 0.2rem auto 0.1rem auto;
	height: 0.2rem;
	line-height: 0.2rem;
	text-align: center;
	border:1px solid #ddd;
	padding: 0.15rem 0
}
.share_main a.sha:active{
	background: #01b095;
	color: #fff;
}


.p-detail{ 
	margin-bottom: 0.55rem; 
}
.p-detail h2{
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9; 
	height:0.2rem; 
	padding: 0.05rem 0; 
	display:-webkit-box;
	display: -ms-flexbox;
	display: -moz-box; 
	background: #fff; 
	width: 100%;
	line-height: 0.2rem;
	font-size: 0.13rem; 
}
.p-detail h2 a{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	border-right: 1px solid #e9e9e9;
	width: 100%; 
	display: block; 
	text-align: center
}
.p-detail h2 a:last-child{ 
	border: none;
}
.p-detail h2 .checked{ 
	color: #01b095;
}

.lotpic{ 
	background: #fff;
}
.lotpic h1{ 
	font-size: 0.12rem; 
	padding: 0.08rem ; 
	text-align: center;
}
.lotpic p{
	font-size: 0;
}
.lotpic p img{
	width: 100%; 
	height: auto; 
	margin-bottom: 0.06rem; 
}

.canshu{ 
	display: none; 
	background: #fff;
}
.canshu img{
	width: 100%; 
	height: auto;  
}

.elvalute{ 
	display: none;
}
.elvalute dl{
    position: relative; 
    background: #fff; 
    margin-bottom: 0.05rem; 
    padding: 0.1rem 0.1rem 0.05rem 0.4rem; 
    overflow: hidden;
}
.elvalute dl dt{ 
	position: absolute; 
	left: 0.1rem; 
	top: 0.1rem; 
	font-size: 0; 
	height: 0.25rem; 
	width: 0.25rem; 
	overflow: hidden;
}
.elvalute dl dt img{ 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	height: 0.25rem; 
	width: 0.25rem;
}
.elvalute dl h3{ 
	line-height: 0.18rem; 
	font-size: 0.12rem; 
	color: #666;
}
.elvalute dl h3 span{ 
	float: right; 
	font-size: 10px; 
	font-size: 0.1rem; 
	color: #999;
}
.elvalute dl h3 em{ 
	padding-left: 0.12rem;
}
.elvalute dl h3 i{ 
	color: #ff9402;
}
.elvalute dl p{ 
	color: #666; 
	font-size: 11px; 
	font-size: 0.11rem; 
	line-height: 0.15rem;
	padding-right: 0.07rem;
}

.buy{ 
	height:0.5rem; 
	position: fixed; 
	background: #fff; 
	bottom: 0; 
	width: 100%; 
	left: 0; 
	box-shadow: 2px 0px 4px #ccc; 
	z-index: 3;
}
.buy a{ 
	display: block; 
	float: left; 
	width: 33.33%; 
	height: 0.5rem; 
	line-height: 0.7rem; 
	text-align: center; 
	color: #666; 
	font-size: 0.13rem;
}
.buy .putinto{ 
	background: #f13100;
	color: #fff
}

/*弹窗*/
#bg{ 
	height: 100%; 
	width: 100%; 
	position:  fixed; 
	top:0; left: 0;  
	z-index: 4; 
	background: rgba(0,0,0,0.4);
	display: none;
}
.property{ 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
	z-index: 5; 
	background: #fff; 
	left: 0;
	display: none;
}
.close{ 
	position: absolute; 
	font-size: 0; 
	top:0.1rem; 
	right: 0.1rem;
}
.content{ 
	position: relative; 
	padding:0.1rem 
}

.s-intro{ 
	padding-bottom: 0.1rem; 
	border-bottom: solid 1px #ddd; 
	overflow: hidden;
}
.s-intro img{ 
	float: left; 
	width: 0.62rem; 
	height: 0.62rem;
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
}
.shulian{ 
	padding-left: 0.72rem;
}
.shulian h4 { 
	font-size: 0.12rem; 
	color: #f00; 
	line-height: 0.25rem;
}
.shulian p{ 
	color: #666; 
	line-height: 0.2rem; 
	font-size: 0.12rem;
}
.shulian p span{ 
	padding-right: 0.18rem;
}

.fenlei{ 
	border-bottom: solid 1px #ddd; 
	overflow: hidden;
}
.fenlei h2{ 
	color: #666; 
	line-height: 0.25rem; 
	font-size: 0.12rem; 
}
.fenlei li{ 
	float: left; 
	width: 0.72rem; 
	height: 0.25rem; 
	line-height: 0.25rem; 
	text-align: center; 
	margin-right: 0.08rem; 
	font-size: 0.12rem; 
	margin-bottom: 0.08rem; 
	border: solid 1px #999;
}
.fenlei .current{ 
	border-color: #01b095; 
	color: #01b095;
}

.num{ 
	padding: 0.1rem 0 0.2rem; 
	height: 0.32rem; 
	line-height: 0.32rem; 
	font-size: 0.12rem; 
	color: #666;
    position: relative;
}
.addnum{
	display:-webkit-box;
	display: -ms-flexbox;
	display: -moz-box; 
	width: 100%;
}
.addnum span{ 
	font-size: 0.23rem;
	display: block; 
	width: 0.3rem; 
	text-align: center; 
}
.addnum input{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1; 
	-moz-box-flex:1; 
	border: solid 1px #d7d7d7; 
	border-bottom: none; 
	border-top: none;
	height: 0.3rem; 
	line-height: 0.3rem; 
	text-align: center; 
	padding: 0; display: block;  
}
.shil{ 
	position: absolute; 
	right: 0.1rem; 
	top: 0.1rem; 
	height: 0.3rem; 
	line-height: 0.3rem; 
	border: solid 1px #d7d7d7; 
	width: 1rem; 
}
.sure a{ 
	display: block; 
	color: #fff; 
	font-size: 0.12rem; 
	text-align: center; 
	line-height: 0.35rem; 
	background: #ff5000;
}

.succeed{ 
	width: 70%; 
	height:0.25rem; 
	position: fixed;
	top: 35%;
	margin-top: -0.13rem;
	margin-left: -35%;
	left: 15%; 
	background: rgba(0,0,0,0.5); 
	color: #fff; 
	text-align: center; 
	font-size: 0.12rem; 
	-webkit-border-radius: 16px;
	border-radius: 16px; 
	margin: 0 auto; 
	padding:0.55rem 0; 
	line-height:0.25rem; 
	display: none; 
	z-index: 6;
}
.succeed p{ 
	line-height:0.25rem;
	font-size: 0.14rem;
}
.succeed p img{ 
	margin-right: 0.13rem; 
	vertical-align: middle;
}
#w-bg{
	height: 100%; 
	width: 100%; 
	position:  fixed; 
	top:0; left: 0;  
	z-index: 4; 
	background: rgba(0,0,0,0);
	display: none; 
	z-index: 5;
}

/*列表样式*/

.goback{ 
	z-index:2;
	height: 0.35rem; 
	line-height: 0.35rem; 
	color: #fff; 
	text-align: center; 
	position: absolute; 
}
.goback a{  
	position: absolute; 
	height: 0.35rem; 
	width:0.3rem; left: 0;
    top:0;
}
.goback a:after {
	content: '';
	display: inline-block;
	position: absolute;
	top:0.12rem;width:0.12rem;
	height:0.12rem;
	-webkit-transform: scaleX(0.8) rotateZ(45deg);
	-moz-transform: scaleX(0.8) rotateZ(45deg);
	-ms-transform: scaleX(0.8) rotateZ(45deg); 
	left:0.1rem; cursor:pointer; 
	z-index: 3;
	border: solid 2px #fff; 
	border-top: none; 
	border-right: none;
}
.c-list{ 
	position: relative; 
	width:100%; overflow: hidden; 
}

.c-list h2{  
	padding: 0.08rem 0; 
	display:-webkit-box;
	display: -ms-flexbox;
	display: -moz-box; 
	background: #fff; 
	width: 100%; 
}
.c-list h2 a{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	width: 100%; 
	display: block; 
	text-align: center;
	font-size: 0.13rem;
}
.c-list h2 a:last-child{ 
	border: none;
}
.c-list h2 a.active{
	color: #01b095;
}
.c-list h2 a:active{
	color: #109e88;
}
.c-list h2 .checked{ 
	color: #008d43;
}
.dropdown { 
	color: #008d43; 
	position: relative;
	width: 100%;
	height:0.2rem;  
	overflow: hidden;  
	text-align: center;
}
.dropdown:after{  
	content:'▼'; 
	position: absolute; 
	right:0.1rem; 
	z-index: 2;  
	top:0;
	font-size: 0.12rem;
}
.dropdown-select {
	color: #008d43;
	border: none; 
	-moz-appearance: none; 
	-webkit-appearance: none;
	appearance: none; 
	font-size: 0.12rem; 
	width:70%;
	height:0.2rem; 
	text-align: center; 
	margin: 0 auto; 
	overflow: hidden; 
	line-height: 0.2rem; 
	padding-right: 0.10rem; 
	background: #fff;
}

#scroller  ul{ 
	overflow: hidden; 
	margin:0.05rem 0.05rem 0 0; 
}
#scroller  li,#thelist li{ 
	float: left; 
	width: 50%; 
	overflow: hidden;
	margin-bottom: 0.04rem; 
}
#scroller  li a,#thelist li a{  
	display: block; 
	margin: 0 0.025rem 0 0.025rem;
	border: solid 1px #eaeaea;
	padding:0.03rem; 
	background: #fff; 
	color: #333;
}
#scroller  li img,#thelist li img{ 
	height:1.3rem; 
	width: 100%;  
	display: block;
}
#scroller  li h3,,#thelist li h3{ 
	font-size: 0.11rem; 
	height:0.3rem; 
	margin: 0.04rem 0; 
	line-height: 0.15rem;  
	overflow: hidden;
}
#scroller  li p,#thelist li p{ 
	color: #ff0000; 
	line-height: 0.25rem; 
	height:  0.25rem; 
	overflow: hidden; 
}
#scroller  li span,#thelist li span{ 
	font-size:  0.1rem; 
	color: #999;
	width:55%; 
	line-height: 0.25rem; 
	height:  0.25rem; 
	float: right; 
	text-align: right;
}
#scroller  li em,#thelist li em{ 
	font-style: normal; 
	float: left; 
	line-height:  0.25rem; 
	height: 0.25rem;
	width: 45%;font-size: 0.12rem; 
}


/*下拉*/
#wrapper {
	position: absolute;
	z-index: 1;
	top: 0.8rem;
	bottom: 0px;
	left: 0;
	width: 100%;
	
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	
}

#scroller-pullDown,#scroller-pullUp {
   
    height: 30px;
    line-height: 30px;
  
    font-size: 12px;
	text-align:center;
	position:absolute;
	left:0px;
	width:100%;
	color: #fda90f; 

}
#scroller-pullDown{
	top:-30px;
}
#scroller-pullUp{
	bottom:-30px;
}
#show{
    display:none;   
}
#pullDown, #pullUp {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; float:left;
    width:40px; height:40px;
    background:url(../images/pull.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;  
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}
/*详情轮播*/
.main_visual{
	height:2.7rem;
	overflow:hidden;
	position:relative;
}
.main_image{
	height:2.7rem;
	overflow:hidden;
	position:relative;
}
.main_image ul{
	width:9999px;
	height:2.7rem;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0
}
.main_image li{
	float:left;
	width:100%;
	height:2.7rem;
}
.main_image li span{
	display:block;
	width:100%;
	height:2.7rem;
	font-size: 0;
}
.main_image li a{
	display:block;
	width:100%;
	height:2.7rem;
}
.main_image li img{ 
	height:2.7rem; 
	width: auto;
}
.main_image li .img_1{
	background:url(../images/girl.png) center top no-repeat; 
	background-size: cover;
}
.main_image li .img_2{
	background:url(../images/girl.png) center top no-repeat; 
	background-size: cover;
}
.main_image li .img_3{
	background:url(../images/girl.png) center top no-repeat; 
	background-size: cover;
}
.main_image li .img_4{
	background:url(../images/girl.png) center top no-repeat; 
	background-size: cover;
}
.flicking_con{
	position:absolute;
	bottom:0.06rem;
	right:0.1rem;
	z-index:3; 
	height: 0.08rem; 
	font-size: 0;
}
.flicking_con a{
	float:left;
	width:0.08rem;
	height:0.08rem;
	margin:0  0 0 0.1rem;
	background:#fff; 
	-webkit-border-radius: 50%; 
	border-radius: 50%; 
	text-indent: -2000px; 
	font-size: 0;
}
.flicking_con .on{
	background:#01b095;
}

.buy a{
	float: left;
	display: block;
	text-align: center;
}
.buy a span{
	display: block;
	padding-top: 0.1rem；
}


/*订单提交*/

.address{ 
	background: #fff;
	/*margin-top: 0.05rem;*/ 
	padding: 0.12rem 0.1rem;
	margin-bottom: 3px;
    overflow: hidden; 
    font-size: 0.12rem; 
    border-top: solid 1px #ddd; 
    border-bottom: solid 1px #ddd; 
    position: relative;
}
.address a{
	display: inline-block;
	width: 100%;
}
.address h2{ 
	font-size: 0.14rem; 
	line-height: 0.23rem;
}
.address h2 span{ 
	padding-left: 0.25rem;
}
.address p{ 
	line-height: 0.2rem;
	color: #666; 
	width: 85%;
}
.address:after{ 
	content: ''; 
	position: absolute; 
	border-top: solid 2px #c6c6c6; 
	border-right: solid 2px #c6c6c6; 
	width: 0.12rem; 
	height: 0.12rem; 
	right: 0.1rem; 
	top: 50%; 
	margin-top: -0.06rem;
	-webkit-transform: scaleX(0.8) rotateZ(45deg);
	-moz-transform: scaleX(0.8) rotateZ(45deg);
	-ms-transform: scaleX(0.8) rotateZ(45deg);
}

.car-list{ 
overflow: hidden;
/*margin-top: 0.04rem;*/
}
 .goods{ 
 	margin-bottom: 0.05rem; 
 	border-bottom: solid 1px #eaeaea;
 	border-top: solid 1px #eaeaea; 
 	background: #fff;
 	display:-webkit-box;
 	display: -ms-flexbox;
 	display: -moz-box; 
 	width: 100%; 
 	height: 0.8rem ; 
 	overflow: hidden; 
 	padding: 0.1rem 0rem 0.18rem 0
 }
.goods .img{ 
	height: 0.8rem; 
	width: 0.8rem; 
	margin-left: 0.1rem; 
	font-size: 0; 
}
.goods .img img{ 
	height: 0.8rem; 
	width: 0.8rem; 
	vertical-align: top;
	margin-top: 0.04rem;
	margin-left: -10px;
}
.lots{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1; 
	-moz-box-flex:1; 
	margin:0  0.1rem; 
	height: 0.8rem;  
	position: relative;
} 

.lots h2{ 
	font-size: 0.12rem; 
	height: 0.36rem; 
	line-height: 0.18rem;  
	overflow: hidden;
}
.lots p{ 
	height: 0.2rem;
	line-height: 0.2rem; 
	overflow: hidden; 
	color: #999; 
	font-size: 0.12rem;
}
.number{ 
	height: 0.2rem; 
	line-height: 0.2rem; 
	color: #ff0000; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%;
   }
.number span{  
	height: 0.2rem; 
	line-height: 0.2rem; 
	top: 0; 
	right: 0; 
	color: #999; 
	font-size: 0.13rem;
	/*float: right;*/
}
.span1{
	float: right!important;
}
.span1 i{
	color: #999;
}
.pay span i,.quan i{
	color: #333;
}
#total{color: #ff0000;}
.peisong{ 
	background: #fff; 
	padding-bottom: 0.15rem; 
	margin-bottom: 0.36rem;
}
.peisong h2{ 
	line-height: 0.4rem; 
	/*border-bottom: solid 1px #f0f0f0; */
	padding: 0 0.1rem; 
	font-size: 0.14rem; 
	color: #666;
    position: relative;
}
.peisong h2 span{ 
	float: right; 
	color: #333;
}
.message{
	padding: 0 0.1rem; 
}
.message dt{
	line-height: 0.4rem;
	color: #666;
}
.message textarea{ 
	width: 95%; 
	margin: 0 auto; 
	height: 0.95rem; 
	border: solid 1px #ddd; 
	font-size: 0.14rem; 
	color: #999; 
	padding: 0.05rem 0.07rem; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.pay{ 
	height:0.36rem;
	line-height: 0.36rem; 
	position: fixed; 
	background: #fff; 
	bottom: 0; 
	width: 100%; 
	left: 0; 
	box-shadow: 2px 0px 4px #ccc; 
	z-index: 3;
}
.pay span{ 
	padding-left: 0.1rem;
}
.pay a{ 
	float:right; 
	height: 0.36rem; 
	width: 1rem; 
	text-align: center; 
	color: #fff; 
	background: #f13100; 
	line-height: 0.36rem;
}
.weui_switch:checked {
    border-color: #01b095;
    background-color: #01b095;
}
.weui_cell_switch{
	padding: 0rem 0.1rem 0.0rem 0rem;
	border-bottom: 1px solid #f0f0f0
}
.weui_cell_ft{
	margin-top: 0.05rem;
}
.weui_cells_form input, .weui_cells_form label[for], .weui_cells_form textarea {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.weui_switch {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 48px;
    height: 28px;
    border: 1px solid #dfdfdf;
    outline: 0;
    border-radius: 16px;
    box-sizing: border-box;
    background: #dfdfdf;
}
.weui_switch:checked:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.weui_switch:before {
    /*width: 50px;*/
    background-color: #fdfdfd;
}
.weui_switch:checked:after {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.checked1{
	-webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.weui_switch_btn {
    width: 26px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.weui_switch_btn {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    border-radius: 15px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
}
#ps{color: #333}
/*添加地址样式*/



.reason{ 
	background: #fff; 
	padding: 0 0.1rem; 
}
.reason dl{ 
	border-bottom:solid 1px #f0f0f0; 
	padding: 0.1rem 0;
	display:-webkit-box;
	display: -ms-flexbox;
	display: -moz-box; 
	width:100%;
	/*overflow: hidden;*/
}
.reason dl dt{
	height: 0.25rem; 
	line-height: 0.25rem; 
	color: #666; 
	width: 0.75rem;
}
.reason dl dd{ 
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	width: 100%; 
	position: relative;
}
.write{ 
	width: 100%; 
	height: 0.25rem;
	line-height: 0.25rem; 
}
.choose{ 
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance:none; 
	border: none; 
	height: 0.25rem;
	line-height: 0.25rem;  
	width: 26%; 
	background: #fff; 
	font-size: 0.12rem;
	margin-right: 3%; 
	border: solid 1px #ccc; 
	text-align: left; 
	padding-left: 2%; 
	-webkit-border-radius: 2px;  
	border-radius: 2px; 
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#s_province{
	height: 230px;
	position: absolute;
	left: 0;top: 0.27rem;
	width: 26%;
	z-index: 99;
	overflow-y: auto;
	padding: 5px 2px 3px 7px;
	font-size: 0.12rem;
	display: none;
	background: #fff;
}
#s_city{
	height: 230px;
	position: absolute;
	left: 31.5%;top: 0.27rem;
	width: 26%;
	z-index: 99;
	overflow-y: auto;
	padding: 5px 2px 3px 7px;
	font-size: 0.12rem;
	display: none;
	background: #fff;
}
#s_county{
	height: 230px;
	position: absolute;
	left: 63%;top: 0.27rem;
	width: 26%;
	z-index: 99;
	overflow-y: auto;
	padding: 5px 2px 3px 7px;
	font-size: 0.12rem;
	display: none;
	background: #fff;
}
.fnone textarea{ 
	height: 1.15rem; 
	border: solid 1px #cfcfcf; 
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	width: 99%; 
	margin: 0 auto; 
	display: block;
}
.fnone{ 
	border-bottom:solid 1px #f0f0f0; 
	padding: 0.1rem 0;
	overflow: hidden;
}
.fnone h2{
	height: 0.25rem; 
	line-height: 0.25rem; 
	color: #666; 
	width: 0.75rem; 
	padding-bottom: 0.1rem;
}

.moren{ 
	background: #fff; 
	padding:0.1rem;
	height: 0.25rem; 
	line-height: 0.25rem; 
	margin-top: 0.05rem;
}
.moren input[type=checkbox]{  
	-webkit-appearance: none;
	-moz-appearance: none;  
	appearance: none;  
	width:0.13rem;  
	background: #999999;  
	height: 0.13rem;  
	border-radius: 50%; 
	outline: none; 
	vertical-align: top; 
	margin-right: 0.09rem; 
	margin-top: 0.06rem;  
}
.moren input[type=checkbox]:checked{  
	background: #008d43; 
}

.save{ 
	padding:0.6rem 0.1rem 0;
}
.save a{ 
	width: 100%; 
	background: #01b095; 
	color: #fff; 
	height: 0.4rem;
	line-height: 0.4rem; 
	font-size: 0.14rem; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	text-align: center;
}
.save a:active{ 
	background: #0b917c; 
	color: #f4f4f4;
}

/*支付样式*/

.section{
	text-align: center;
	padding: 0.4rem 0;
	background: #fff;
}
.section p{
	font-size: 0.18rem;
}
.section h2{
	font-size: 0.26rem;
}
.chose{
	padding: 0.1rem;
}
.chose h2{
	padding: 0 0 0.1rem 0
}

.p_pay{
	width: 44%;
	text-align: center;
	padding:0.22rem 0;
	background: url(../images/pay.png) no-repeat center center;
	background-size: 97%;
}
.p_pay_bj{
	width: 44%;
	text-align: center;
	padding:0.22rem 0;
	background: url(../images/pay1.png) no-repeat center center;
	background-size: 97%;
}
.zhfb{
	width: 104px;
	margin: 0 auto;
}
.zhfb span{
	display: block;
	padding-top: 0.02rem;
}
.zff{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0.12rem;
	background: #01b095;
	color: #fff;
	display: block;
}
.zff:active{
	background: #0b917c;
	color: #f4f4f4
}



/*购物车*/
.goback{ 
	height: 0.35rem; 
	line-height: 0.35rem; 
	color: #fff; 
	text-align: center;
}
.goback a{  
	position: absolute; 
	height: 0.35rem; 
	width:0.3rem; 
	left: 0;
    top:0;
}
.goback a:after {
	content: '';display: 
	inline-block;
	position: absolute;
	top:0.12rem;
	width:0.12rem;
	height:0.12rem;
	-webkit-transform: scaleX(0.8) rotateZ(45deg);
	-moz-transform: scaleX(0.8) rotateZ(45deg);
	-ms-transform: scaleX(0.8) rotateZ(45deg); 
	left:0.1rem; cursor:pointer; 
	z-index: 3;  
	border: solid 2px #fff; 
	border-top: none; 
	border-right: none;
}
.goods a img{ 
	height: 0.8rem; 
	width: 0.8rem;
}
.lots{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1; 
	-moz-box-flex:1; 
	margin: 0.05rem 0.1rem; 
	height: 0.8rem;
    position: relative;
}
.lots h2{ 
	padding-right: 0.33rem; 
	font-size: 0.12rem; 
	height: 0.36rem; 
	line-height: 0.18rem;  
	overflow: hidden;
}
.operate{ 
	position: absolute; 
	right: 0;
	bottom:0; 
	height: 0.3rem; 
	line-height: 0.3rem;
	width: 1.16rem; 
	background: #eee; 
	color: #707070; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
}
.change{
	display:-webkit-box;
	display: -ms-flexbox;
	display: -moz-box; 
	width: 100%; 
	padding: 0.05rem 0; 
	height: 0.2rem; 
	line-height: 0.2rem;
}
.change span{ 
	font-size: 0.18rem;
	display: block; 
	width: 0.36rem; 
	text-align: center; 
}
.text{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1; 
	-moz-box-flex:1; 
	border: solid 1px #d7d7d7; 
	border-bottom: none; 
	border-top: none;
	height: 0.2rem; 
	line-height: 0.2rem; 
	text-align: center; 
	padding: 0; 
	display: block; 
	font-size: 0.14rem; 
	background: #eee; 
	color: #707070; 
}
.delete{ 
	position: absolute; 
	top: 0; 
	right: 0; 
	width: 0.25rem; 
	height: 0.24rem; 
	text-align:center; 
}
.money{ 
	display: none;
}

.pay label{ 
	line-height: 1rem;
	height:0.36rem; 
	line-height: 0.36rem; 
	float: left; 
}
.pay label input[type=checkbox]{  
	-webkit-appearance: none;  
	-moz-appearance: none;  
	appearance: none;  
	width:0.14rem;  
	background: #fff;  
	height: 0.14rem;  
	border-radius: 50%;  
	border :solid 1px #a2a2a2;  
	line-height: 0.14rem;  
	outline: none; 
	vertical-align: middle; 
	margin:0  0.11rem;  
}
.pay label input[type=checkbox]:checked {  
	background: #008d43; 
}
.jiesuan{ 
	float: left;
	line-height: 0.36rem; 
	padding-left: 0.12rem;
}
.jiesuan em{ 
	color: #f00; 
	padding: 0 0.07rem;
}
.jiesuan a{ 
	display: inline-block; 
	height: 0.36rem; 
	width: 1rem; 
	text-align: center; 
	color: #fff; 
	background: #008d43;
	float: right;
}
.mun{
/*	background-color: #01b095!important;*/
}
.choses{
	padding: 31px 0.1rem;
}
.choses1{
	padding: 0.1rem 0.1rem 0.06rem 0.1rem;
}
.choses input,.choses1 input{
	display: none;
}
.choses label,.choses1 label{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border:1px solid #ccc;
	display: inline-block;
}
label.active{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border:1px solid #01b095;
	display: inline-block;
	background-color: #01b095;
}
.chu img{
	margin-top: 0.02rem
}
.titinf{
	background-color: #e0e0e0
}
.pinp{
	padding-top: 0.11rem;
}
.pinp span{
	display: block;
	margin-top: -3px;
	margin-left: 6px;
}
.address-single {
    background: #fff;
    margin-bottom: 0.05rem;
    overflow: hidden;
    padding: 0 0.1rem;
    position: relative;
}
.address-single .add-detail {
    padding: 0.1rem 0;
    margin-right: 0.5rem;
}
.address-single h2 {
    line-height: 0.22rem;
    font-size: 0.13rem;
    height: 0.22rem;
}
.address-single h2 span {
    float: left;
}
.address-single h2 .xingming {
    float: left;
    margin-right: 20px
}
.address-single h3 {
    line-height: 0.2rem;
    color: #666;
    font-size: 0.12rem;
}
.add-detail a {
    position: absolute;
    right: 0.15rem;
    top: 0.2rem;
}
.adddizhi {
    float: right;
    color: #01b095;
    padding-right: 0.15rem;
    line-height: 0.25rem;
    padding-bottom: 0.1rem;
}
#addrees{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #f9f9f9;z-index: 999;display: none;overflow-y: auto;}
#dizhiadd{display: none;position: fixed;width: 100%;height: 100%;top: 0;left: 0;background: #fff;}
#btn{
	display: block;
	height: 36px;
	width: 100%;
	text-align: center;
	line-height: 36px;
	background: #01b095;
	color: #fff;
}
#zhifubao{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	display: none;
	z-index: 999
}
#deel{
	position: fixed;
    width: 80%;
    height: 100px;
    background: #fff;
    left: 50%;
    top: 50%;
    margin-left: -40%;
    margin-top: -75px;
    border-radius: 3px;
    padding: 15px 0;
    text-align: center;
}
#deel p{
	text-align: center;
	font-size: 16px;
	padding: 20px 0 15px 0
}
#deel a{
	display: inline-block;
	width: 50px;
	height: 30px;
	line-height: 30px;
	margin: 10px 20px 0 20px;
	border-radius: 3px;
	border:1px solid #eee;
}
#add-dres{
    height:81%;
    overflow-y:auto;
}