/*视频课堂样式*/
.goback{ 
	display: block;  
	position: absolute; 
	left: 0.1rem; 
	top: 0.1rem;
}
.video_main{
	padding: 0.2rem 0.1rem;
	border-bottom: 0.05rem solid #d9d9d9;
}
.video_main a{
	display: block;
	width: 42%;
	text-align: center;
	padding: 0.35rem 0;
	color: #fff;
	font-size: 0.14rem;
}
.v_t{
	padding: 0.1rem;
}
.video_main a.v1{
	background: url(../images/v1.png) no-repeat center center;
}
.video_main a.v{
	background: url(../images/v.png) no-repeat center center;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 2.1rem;
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller-pullDown,#scroller-pullUp {
   
    height: 30px;
    line-height: 30px;
  
    font-size: 12px;
	text-align:center;
	position:absolute;
	left:0px;
	width:100%;
	color: #fda90f; 

}
#scroller-pullDown{
	top:-30px;
}
#scroller-pullUp{
	bottom:-30px;
}
.car-list{ 
	overflow: hidden; 
	margin-bottom: 0.05rem; 
}
.order-num{ 
	background: #fff; 
	line-height: 0.3rem; 
	padding: 0 0.1rem; 
	font-size: 0.12rem;
}
.order-num span{ 
	float: right; 
	color: #ff5000;
}
.goods a{
	display:-webkit-box;
	display: -ms-flexbox;
	display: -moz-box; 
	width: 100%; 
	height: 0.9rem ; 
	overflow: hidden; 
	padding: 0.1rem 0; 
	border-bottom: solid 1px #fff;
}
.goods .img{ 
	height: 0.9rem; 
	width: 0.9rem; 
	margin-left: 0.1rem; 
	font-size: 0;
}
.goods .img img{ 
	height: 0.9rem; 
	width: 0.9rem; 
	vertical-align: top;
}
.lots{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1; 
	margin:0  0.1rem; 
	height: 0.9rem;  
	position: relative;
}
.lots h2{ 
	font-size: 0.12rem; 
	height: 0.36rem; 
	line-height: 0.18rem;  
	overflow: hidden;
}
.lots p{ 
	height: 0.2rem;
	line-height: 0.2rem; 
	overflow: hidden; 
	color: #ff0000; 
	font-size: 0.12rem;
}
.number{ 
	height: 0.2rem; 
	line-height: 0.2rem; 
	color: #999; 
	position: absolute; 
	bottom: 0; left: 0; 
	width: 100%;
   font-size: 0.14rem; 
}
.number p{
	color: #999; 
}
.number p b,i{ 
	color: #f2c37c; 
}

/*课程详情样式*/
.detail{ 
	background: #fff; 
	/*margin-bottom: 0.05rem;*/
}
.intro{ 
	padding: 0.05rem 0.1rem; 
}
.v2{width: 75%;}
.ttl h2{
	border-bottom: 1px solid #f0f0f0;
	padding: 0 0 0.1rem 0.1rem!important;
}
.ttl p{
	padding: 0.1rem;
	color: #aaa;
}
.v_btn{
	display: block;
	width: 22.5%;
	height: 0.35rem;
	line-height: 0.35rem;
	text-align: center;
	background: #01b095;
	color: #fff;
	margin-top: 0.1rem;
	border-radius: 3px;
}
.v_btn:active{
	background: #0e9681;
	color: #f0f0f0;
}
.v_shop{
	padding: 0.1rem;
	border-top: 0.05rem #f0f0f0 solid;
	border-bottom: 0.05rem #f0f0f0 solid;
}
.v_shop span{
	float: right;
}
.v_shop span img{
	width: 100%;
	margin-top: 0.14rem;
}
.v_shop img.v_shop_img{
	float: left;
	width: 50px;
	height: 50px;
}
.v_titl{
	float: left;
	margin: 0 0.1rem;
	width: 70%;
}
.v_titl h2{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0.1rem;
}
.v_titl p{
	color: #aaa;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}
.intro h1{ 
	line-height: 0.2rem; 
	font-size: 0.13rem;
	width: 96%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0.12rem;
}
.price{ 
	line-height: 0.223rem; 
	color: #f00;
}
.price span{ 
	color:#999; 
	font-size: 0.12rem; 
	padding-left: 0.07rem;
}
.intro p{ 
	line-height: 0.2rem; 
	font-size: 0.12rem; 
	color: #999;
}
.intro p span{ 
	float: right;
}

.shop_inf{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding-left: 0.1rem;
}
.shop_inf img{
	margin-right: 0.12rem;
}
.shop_imf h2{
	color: #fff;
}
.main_visual{
	overflow:hidden;
	position:relative;
}
.main_image{
	height:2.7rem;
	overflow:hidden;
	position:relative;
}
.main_visual img{
	width: 100%;
}
.main_image li .img_3{
	background:url(../images/girl.png) center top no-repeat; 
	background-size: cover;
}

.flicking_con{
	position:absolute;
	bottom:0.06rem;
	right:0.1rem;
	z-index:3; 
	height: 0.08rem; 
	font-size: 0;
}
.flicking_con a{
	float:left;
	width:0.08rem;
	height:0.08rem;
	margin:0  0 0 0.1rem;
	background:#fff; 
	-webkit-border-radius: 50%; 
	border-radius: 50%; 
	text-indent: -2000px; 
	font-size: 0;
}
.flicking_con .on{
	background:#01b095;
}

.buy a{
	float: left;
	display: block;
	text-align: center;
}
.buy a span{
	display: block;
	padding-top: 0.1rem；
}

#header-wrap{
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9; 
	height:0.2rem; 
	padding: 0.05rem 0; 
	display:-webkit-box;
	display: -ms-flexbox;
	display: -moz-box; 
	background: #fff; 
	width: 100%;
	line-height: 0.2rem;
	font-size: 0.13rem; 
}
.p-detail h2 a{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	border-right: 1px solid #e9e9e9;
	width: 100%; 
	display: block; 
	text-align: center
}
.p-detail h2 a:last-child{ 
	border: none;
}
.p-detail h2 .checked{ 
	color: #01b095;
}

.lotpic{ 
	background: #fff;
	padding: 0.1rem;
}
.lotpic h1{ 
	font-size: 0.12rem; 
	padding: 0.08rem ; 
	text-align: center;
}
.v_c{
	color: #01b095;
	float: right;
}
.lotpic p{
	color: #aaa;
}
.v_tt{
	width: 90%;
	/*margin-left: 2%*/
}
.v_tt p{
	padding: 0!important;
	text-align: justify;
}
.v_pic img{
	width: 28px;
	height: 28px;
	border-radius: 2px;
}
.v_pic{
	padding: 0.1rem;
}
.canshu{ 
	display: none; 
	background: #fff;
}
.canshu img{
	width: 100%; 
	height: auto;  
}

.elvalute{ 
	display: none;
}
.elvalute dl{
    position: relative; 
    background: #fff; 
    margin-bottom: 0.05rem; 
    padding: 0.1rem 0.1rem 0.05rem 0.4rem; 
    overflow: hidden;
    border-bottom: 0.05rem solid #f0f0f0;
}
.elvalute dl dt{ 
	position: absolute; 
	left: 0.1rem; 
	top: 0.1rem; 
	font-size: 0; 
	height: 0.25rem; 
	width: 0.25rem; 
	overflow: hidden;
}
.elvalute dl dt img{ 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	height: 0.25rem; 
	width: 0.25rem;
}
.elvalute dl h3{ 
	line-height: 0.18rem; 
	font-size: 0.12rem; 
	color: #666;
}
.elvalute dl h3 em{
	float: right;
}
.elvalute dl h3 span{ 
	float: right; 
	font-size: 10px; 
	font-size: 0.1rem; 
	color: #999;
}
.elvalute dl h3 em{ 
	padding-left: 0.12rem;
}
.elvalute dl h3 i{ 
	color: #ff9402;
}
.elvalute dl p{ 
	color: #666; 
	font-size: 11px; 
	font-size: 0.11rem; 
	line-height: 0.15rem;
	/*padding-right: 0.07rem;*/
	text-align: justify;
}
/*个人课程店铺*/
.b-pic .t-img{ 
width: 100%; 
height: auto;
 /* height: 2.5rem; */ 
}
.b-pic{ 
	position: relative;
}
.gift{ 
	position: absolute; 
	bottom: 0.06rem; 
	right: 0.06rem;
}

.shop_tt{
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	background: rgba(0,0,0,0.6);
	color: #fff;
}

.c-list{ 
	position: relative; 
	width:100%; overflow: hidden; 
}

.c-list h2{  
	padding: 0.08rem 0; 
	display:-webkit-box;
	display: -ms-flexbox;
	display: -moz-box; 
	background: #fff; 
	width: 100%; 
	border-bottom: 0.05rem solid #f0f0f0;
}
.c-list h2 a{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	width: 100%; 
	display: block; 
	text-align: center;
	font-size: 0.13rem;
}
.c-list h2 a:last-child{ 
	border: none;
}
.c-list h2 a.active{
	color: #01b095;
}
.c-list h2 a:active{
	color: #109e88;
}
.c-list h2 .checked{ 
	color: #008d43;
}